<script src="js/navbar.js"></script>
<script src="js/app.js"></script>

</body>
<footer style="background-color: rgb(29, 238, 221);" class="footer">
    <div class="m-5 col-12 indent-1">
        <h1>NC Hack</h1>
        <p>A Hackathon. By Teens, for Teens.</p>
        <p>Email us at <a href="mailto:team@nchack.org">team@nchack.org</a></p>
    </div>
</footer>



</html>

