<%- include('components/header') %>
<div class="m-3">
    <div class="container text-center shadow p-3 rounded" style="width: 50%;">
        <h1 class="m-3">Bad Request</h1>
        <h4 class="m-3">You should never see this page. <a href="mailto:team@nchack.org">Contact us</a>.</h4>
        <button class="m-2 btn btn-primary" onclick="location.href='/';">Go to homepage</button>
    </div>
</div>
<%- include('components/footer') %>
