<%- include('components/header') %>
<div class="m-3">
    <div class="container text-center shadow p-3 rounded" style="width: 50%;">
        <h1 class="m-3">404 Not Found</h1>
        <h4 class="m-3">That page doesn't exist. If you believe this is an error, <a href="mailto:team@nchack.org">contact us</a>.</h4>
        <button class="m-2 btn btn-primary" onclick="location.href='/';">Go to homepage</button>
    </div>
</div>
<%- include('components/footer') %>
