<%- include('components/header') %>
        <header class="masthead">
          <div class="container h-100">
            <div class="row h-100 align-items-center">
              <div class="col-12 text-center">
                <h1 class="font-weight-light text-light">NC Hack</h1>
                <p class="lead text-light">An online Hackathon coming Fall 2020</p>
              </div>
            </div>
          </div>
        </header>

      <!--<section class="center">
        <section class="indent-1 p-5">
          <section class="py-5">
            <div class="container">
              <h2 class="font-weight-light">A Place to Collaborate</h2>
              <p>NC Hack is a Great Place to Collaborate with other fellow coders. <br> We Offer Hackathons, prizes and all! Join us on this journey <br>to inspire coders all around the world.</p>
            </div>
          </section>
        </section>

        <section class="py-5 p-5">
          <div class="container description1 rounded-lg">
            <img src="/images/hack1.jpg" class="rounded-lg" style="height: 50%; ">
          </div>
        </section>
      </section>-->

<%- include('components/footer') %>

