<%- include('components/header') %>
        <header class="masthead">
          <div class="container h-100">
            <div class="row h-100 align-items-center">
              <div class="col-12 text-center">
                <h1 class="font-weight-light text-light">NC Hack</h1>
                <p class="lead text-light">An online Hackathon coming March 20-21, 2021</p>
              </div>
            </div>
          </div>
        </header>

      <section class="center">
        <section class="indent-1 p-5">
          <section class="py-5">
            <div class="container">
              <h2 class="font-weight-light">A Place to Collaborate</h2>
              <p>NC Hack is a Great Place to Collaborate with other fellow coders. <br> We Offer Hackathons, prizes and all! Join us on this journey <br>to inspire coders all around the world.</p>
            </div>
          </section>
        </section>

        <section class="py-5 p-5">
          <div class="container description1 rounded-lg">

          </div>
        </section>
      </section>
<hr>

      <section class="center">
        <!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">A huge thanks to our Sponsors!</h1>

  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card">
        <a href="https://kite.com"><img class="card-img-top" src="/images/Kite.png" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://kite.com">Kite</a>
          </h4>
          <p class="card-text">Kite is offering all participants of our event free lifetime pro subscriptions!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card">
        <a href="https://stickermule.com"><img class="card-img-top" src="/images/stickermule.png" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://stickermule.com">StickerMule</a>
          </h4>
          <p class="card-text">Winners of our competitions will earn NC Hack Stickers, provided by StickerMule!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card">
        <a href="https://linktr.ee/bitsandbytes"><img class="card-img-top" src="/images/bits.png" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://linktr.ee/bitsandbytes">Bits&Bytes</a>
          </h4>
          <p class="card-text">A huge thanks to Bits&Bytes for helping us market and getting us attendees!</p>
        </div>
      </div>
    </div>

</div>
<!-- /.container -->
      </section>
<hr>
      <section class="center">
        <section class="indent-1 p-5">
          <section class="py-5">
            <div class="container">
              <h2 class="font-weight-light">Get Started!</h2>
              <p>Does this seem like the kind of thing you would do?<br> Then what are you waiting for? Grab your computer, your trusty mouse,<br> and that fresh cup of coffee, and start coding!</p>
            </div>
          </section>
        </section>

        <section class="py-5 p-5">
          <div class="container getstarted rounded-lg">

          </div>
        </section>
      </section>
<%- include('components/footer') %>

