<%- include('components/header') %>

<div class="m-3">
    <div class="container text-center shadow p-3 rounded" style="width: 50%;">
        <h1 class="m-3">A Short Snowman Rant</h1>
        <p>Hello. It seems that you have stumbled across my rant about snowman. I love snowman, snowman are cool, snowman are nice, snowman are the best. Snowman deserve better. You deserve to give snowman more than everything you have. Snowman are cute, snowman are strong, independent creatures that deserve to live year round, 24/7. Not just during the winter. <br>Thanks for coming to my TED Talk. <br>~Mehdi Hussain, Founder and Lead of NC Hack</p>
        <button class="m-2 btn btn-primary" onclick="location.href='/';">Go to homepage</button>
    </div>
</div>

<%- include('components/footer') %>