<%- include('components/header') %>
<div class="m-3">
    <div class="container text-left shadow p-3 rounded" style="width: 85%;">
        <h1 class="m-3">Terms & Conditions</h1>
        <hr>
        <h4 class="m-3">Actually Have Some Terms And Conditions, Not Just "Don't Be A Jerk"</h4>
    </div>
</div>
<%- include('components/footer') %>
